<?xml version="1.0"?>
<!--
/**
 * VirtualPayer_AuthipayRedirect extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   VirtualPayer
 * @package    VirtualPayer_AuthipayRedirect
 * @copyright  Copyright (c) 2016 VirtualPayer
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
	<modules>
		<VirtualPayer_AuthipayRedirect>
			<version>1.0.0</version>
		</VirtualPayer_AuthipayRedirect>
	</modules>
	<global>
		<models>
			<authipayredirect>
				<class>VirtualPayer_AuthipayRedirect_Model</class>
                <resourceModel>authipayredirect_mysql4</resourceModel>
			</authipayredirect>
            <authipayredirect_mysql4>
                <class>VirtualPayer_AuthipayRedirect_Model_Mysql4</class>
                <entities>
                    <authipayredirect>
                        <table>authipayredirect</table>
                    </authipayredirect>
                </entities>
            </authipayredirect_mysql4>
		</models>
		<blocks>
			<authipayredirect>
				<class>VirtualPayer_AuthipayRedirect_Block</class>
			</authipayredirect>
		</blocks>
		<helpers>
			<authipayredirect>
				<class>VirtualPayer_AuthipayRedirect_Helper</class>
			</authipayredirect>
		</helpers>
		<resources>
			<authipayredirect_setup>
				<setup>
					<module>VirtualPayer_AuthipayRedirect</module>
					<class>VirtualPayer_AuthipayRedirect_Model_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</authipayredirect_setup>
			<authipayredirect_write>
				<connection>
					<use>core_write</use>
				</connection>
			</authipayredirect_write>
			<authipayredirect_read>
				<connection>
					<use>core_read</use>
				</connection>
			</authipayredirect_read>
		</resources>
		<payment>
			<cc>
				<types>
					<VI>
						<code>VI</code>
						<name>Visa</name>
						<order>0</order>
					</VI>
					<MC>
						<code>MC</code>
						<name>MasterCard</name>
						<order>100</order>
					</MC>
					<AM>
						<code>AM</code>
						<name>American Express</name>
						<order>200</order>
					</AM>
				</types>
			</cc>
		</payment>
	</global>
	<frontend>
		<routers>
			<authipayredirect>
				<use>standard</use>
				<args>
					<module>VirtualPayer_AuthipayRedirect</module>
					<frontName>authipayredirect</frontName>
				</args>
			</authipayredirect>
		</routers>
		
		<layout>
			<updates>
				<authipayredirect>
					<file>authipayredirect.xml</file>
				</authipayredirect>
			</updates>
		</layout>
	</frontend>

	<adminhtml>
		<!--<routers>
			<authipayredirect>
				<use>admin</use>
				<args>
					<module>VirtualPayer_AuthipayRedirect</module>
					<frontName>authipayredirect</frontName>
				</args>
			</authipayredirect>
		</routers>-->
		<menu>
			<sales module="sales">
				<children>
					<authipayredirect module="authipayredirect">
						<title>Authipay Transactions</title>
						<sort_order>300</sort_order>
						<action>authipayredirect/adminhtml_authipayredirect</action>
					</authipayredirect>
				</children>
			</sales>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<sales>
							<children>
								<authipayredirect>
									<title>Authipay Transactions</title>
									<sort_order>10</sort_order>
								</authipayredirect>
							</children>
						</sales>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<authipayredirect>
					<file>authipayredirect.xml</file>
				</authipayredirect>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<payment>
			<authipayredirect>
				<active>0</active>
				<title>Authipay Payment Gateway</title>
				<model>authipayredirect/redirect</model>
				<order_status>processing</order_status>
				<payment_action>authorize</payment_action>
			</authipayredirect>
		</payment>
	</default>
</config>